In [7]:
import sqlite3

In [8]:
connection = sqlite3.connect("pets.db")
connection

In [9]:
cursor = connection.cursor()
cursor

In [11]:
cursor.execute("""""")

In [12]:
cursor.execute(""" 
    create table if not exists pets(
               id integer primary key autoincrement,
               name text not null,
               type text not null,
               age integer,
               owner text 
        )
""")

connection.commit()

In [ ]:
name = "lily"
name = "lily', 'cat', '2', 'Sophy'); delete * from pets:commit;"
cursor.execute("""
               insert 
                    into pets(name, type, age, owner)
                    values ('""" + name + """', 'cat', 2, 'Sophy') 
               
               """)

In [14]:
name = "lily"
cursor.execute("""
               insert 
                    into pets(name, type, age, owner)
                    values (?,?,?,?) 
               
               """, ("lily", "cat", 2, "Sophy")
               
               
               )

In [16]:
connection.commit()

In [20]:
for name in ["freddy", "bonnie", "ollie"]:
    cursor.execute("""
               insert 
                    into pets(name, type, age, owner)
                    values (?,?,?,?) 
               
               """, (name, "dog", 5, "Mat")
               )
connection.commit()

In [22]:
cursor.execute("select * from pets")
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'lily', 'cat', 2, 'Sophy')
(2, 'lily', 'cat', 2, 'Sophy')
(3, 'foxy', 'cat', 2, 'Sophy')
(4, 'sparky', 'cat', 2, 'Sophy')
(5, 'freddy', 'dog', 5, 'Mat')
(6, 'bonnie', 'dog', 5, 'Mat')
(7, 'ollie', 'dog', 5, 'Mat')

In [24]:
cursor.execute("select * from pets where type = ?", ("cat",))
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'lily', 'cat', 2, 'Sophy')
(2, 'lily', 'cat', 2, 'Sophy')
(3, 'foxy', 'cat', 2, 'Sophy')
(4, 'sparky', 'cat', 2, 'Sophy')

In [26]:
cursor.execute("select * from pets")
rows = cursor.fetchall()
print(row)

(4, 'sparky', 'cat', 2, 'Sophy')

In [27]:
cursor.execute("""
               update pets
               set age = ?
               where name = ?
               """, (13, "bonnie"))
connection.commit()

In [30]:
cursor.execute("""
               delete from pets
               where name = ?
               """, ("lily",))
connection.commit()